.about {
  .color-block {
    opacity: 0.5;
    &.block1 {
      background: rgba(125, 191, 197, 0.32);
      transform: rotate(-38deg) translate(70%, -20%);
    }
  }
}

.about {
  &__inner {
    @include row;
  }
  &__text {
    @include span-columns(12);
    p {
      @include outer-container(680px);
    }
  }
  &__connect {
    background-color: $about-blue;
    margin-bottom: rem-calc(40);
    padding: rem-calc(20) 0;
    outline: 1px solid rgba($dark-blue, 0.8);
    outline-offset: -5px;
    @include row;
    &-inner {
      @include span-columns(8);
      @include shift(2);
      header {
        margin-bottom: rem-calc(10);
        h3 {
          color: $dark-blue;
          font-weight: 700;
        }
      }
    }
  }
  #header {
    background-color: $about-blue;
    position: relative;
    .head__inner {
      @include row;
      .head__content {
        padding-left: 20px;
        padding-right: 20px;
        @include span-columns(12);
        @media (min-width: 768px) {
          @include span-columns(10);
          @include shift(1);
          padding-left: 0;
          padding-right: 0;
        }
        h1 {
          @media (min-width: 850px) {
            margin-left: 0;
            margin-top: 30px;
            color: $dark-blue;
          }
        }
      }
      img {
        width: 100%;
        max-width: 500px;
        border-radius: 50%;
        display: block;
        border: 5px solid transparent;
        box-shadow: 0 0 0 1px $dark-blue;
        margin-left: auto;
        margin-right: auto;
        @media (min-width: 850px) {
          margin-left: 0;
          margin-right: 2em;
          shape-outside: circle();
          float: left;
        }
      }
    }
  }
  h1 {
    margin: 0;
    &:first-of-type {
      padding-top: 0;
      margin-top: 0;
    }
    &:last-of-type {
      //margin-left: rem-calc(18);
      //margin-top: rem-calc(-12);
      margin-bottom: 0;
    }
    @media only screen and (max-width: rem-calc(680)) {
      font-size: em(32, 14);
    }
  }
  h4 {
    font-size: 2.4rem;
    margin-bottom: 0;
    margin-left: rem-calc(18);
    line-height: 1.2;
    @media only screen and (max-width: rem-calc(680)) {
      font-size: rem-calc(28);
    }
  }
  @media #{$medium-up} {
    background-size: contain;
  }
}

#about__box {
  background: $offwhite;
  p {
    font-size: 1.5rem;
    @media #{$small-only} {
      font-size: 1rem;
    }
  }
  span {
    font-size: 2.25rem;
    margin-right: 1.5rem;
    @include transition;
    @media (min-width: 561px) {
      font-size: 2.7rem;
      margin-right: 2rem;
    }
    &:hover {
      color: darken($blue, 20);
      @include transition;
    }
  }
}