/* colors ============ */

$blue: #9fcee8;
$about-blue: rgb(224, 233, 237);
$dark-blue: #3F607E;

$trans-teal: rgba(72, 163, 119, 0.75);
$trans-green: rgba(161, 192, 58, 0.75);

$green: #a2c13a;
$dark-green: #009933;
$light-green: #c4db72;

$white: #ffffff;
$trans-white: rgba(255, 255, 255, 0.5);
$offwhite: #f5f5f5;

$gray: #2d2d2d;
$about-gray: #b2b6b6;
$light-gray: #b0b0b0;
$super-light-gray: #ececeb;
$title-gray: #444342;

$red: #dd5454;
$yellow: #efe147;
$dark-yellow: #b8963d;

$purple: #372655;
$light-purple: #756b8c;

$aura-blue: #00b0f0;

/* font variables 
======================*/
$font-family-serif: "freight-text-pro", georgia, serif;
$font-family-sans-serif: "freight-sans-pro", helvetica, arail, sans-serif;
$font-family-headline: "freight-big-pro", "Times New Roman", serif;