.dark {
  color: white;
}

.light {
  color: $gray;
}

//Reuseable layout sections
.page-header-content {
  @include outer-container(1000px);
  padding: em(80) 0;
}

.page-header-wrapper {
  width: 100%;
  background-size: cover;
}

.page-header-image {
  text-align: center;
}

.constrain {
  @include outer-container(1000px);
}

.main-content {
  padding: 4rem 0;
}

.row {
  @include row;
}

//text layouts
.text-block {
  @include span-columns(8);
  @include shift(2);
}

.full-width {
  @include span-columns(12);
}