.contact {
  .header-inner {
    @include row;
  }
  .head__img, .head__headline {
    @media (min-width: 769px) {
      @include span-columns(6);
    }
  }
  .text-box {
    a {
      color: lighten($blue, 10%);
      border-bottom: 1px solid currentColor;
      &:hover, &:focus {
        color: $blue;
      }
    }
  }
  .about__connect {
    background-color: #f5f5f5;
  }
}