    <footer>
<!--       <section class="footer__wrapper">
        
        <article class="footer__content">
          <p><a href="mailto:jeffrey@jeffreysmithdesigner.com"><span class=" icon-envelope"></span>Get in touch</a><p>
          
        </article>
        <article class="footer__content">
          
          <p><% link_to 'smithJeffreyResume.pdf' do %><span class="icon-download"></span>Download my r&eacute;sum&eacute;<% end %></p>
        </article>
        
      </section> -->
      <section class="footer__wrapper">
        <%= partial "/layouts/partials/menu" %>
      </section>
      <section class="footer__wrapper">
        <p class="copy">Jeffrey Smith Designer &copy; <%= Time.now.year %></p>
      </section>
    </footer>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <%= javascript_include_tag "all" %>
 
