
<nav class="navbar">
  <div class="navbar__inner">

    <% link_to '/' do %>
    
    <%= partial "/layouts/partials/logo" %>

    <% end %>

    <%= partial "/layouts/partials/menu" %>
    

  </div>
</nav>