#header {
  min-height: rem-calc(400);
  position: relative;
  z-index: 0;
  background-color: #102C5A;
  @include outer-container(1200px);
  @include clearfix;
  @media #{$medium-up} {
    // height: calc(80vh + 60px);
    //min-height: rem-calc(460);
    //max-height: rem-calc(600);
  }
}

.header-inner, .head__inner {
  @include outer-container(1000px);
  margin-top: em(125);
  margin-bottom: em(70);
  &.text-box {
    p {
      font-size: em(24);
    }
  }
}

.head__img {
  @include span-columns(12);
  @media (min-width: 768px) {
    @include span-columns(6);
  }
}

.head__headline {
  @include span-columns(12);
  @media (min-width: 768px) {
    @include span-columns(6);
  }
  h1 {
    display: inline-block;
    vertical-align: middle;
  }
}