.logo {
  height: auto;
  width: 80%;
  max-width: 400px;
  margin-left: em(5);
}

.st0 {
  fill: currentColor;
}

.st1 {
  display: none;
}

.st2 {
  display: inline;
  fill: currentColor;
}

.fallback {
  display: none;
}

.no-svg .fallback {
  display: inline-block;
  background-image: url("../img/js-logo2.png");
  width: 100%;
  max-width: 400px;
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar .logo {
  height: 40px;
  width: auto;
  transition: opacity .3s;
  .effrey, .mith {
    opacity: 1;
    transition: opacity .3s;
  }
  .s {
    transition: all .3s;
    transform: translate(0, 0) scale(1);
  }
  .j {
    transition: all .3s;
    transform: translateY(0) scale(1);
  }
  @media (max-width: $medium-screen) {
    height: 25px;
  }
}

.index {
  .navbar .logo {}
}