		<section class="portfolio">
			<div class="portfolio__wrapper">
				<h2 class="portfolio__headline">Real Deal Chocolate</h2>
				<article class="portfolio__img">
					<div class="img__outer__wrapper">
						<div class="browser">
							<div class="indicators">
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
							</div>
						
								<div class="img__url__bar"></div>
							
						</div>
						<div class="img__inner__wrapper">
							<a href="http://realdealchocolatempls.com/"><img src="img/chocolate_home_full.jpg" alt="Jeffrey Smith"></a>
						</div>
					</div>
				</article>
				<article class="portfolio__description">
					
					<h3>Developer</h3>
					<p>Real Deal is a Minneapolis duo passionate about creating the best handmade, natural & organic chocolates. Their creations are infused with a variety of healing herbs, teas, and spices.</p>
					<p class="skills">For this project, I used:</p>
					<ul>
						<li>PHP</li>
						<li>Custom jQuery/Javascript</li>
						<li>Wordpress</li>
						<li>Sass</li>
					</ul>
					<div>
					<a href="http://realdealchocolatempls.com/" , class="btn btn-primary" >view the site →</a></div>
				</article>
			</div>
		</section>