		<section class="portfolio" id="portfolio">
			<div class="portfolio__wrapper">
				<h2 class="portfolio__headline">Eclipse | MCTC 2014 Fashion Event</h2>
				<article class="portfolio__img">
					<div class="img__outer__wrapper">

						<div class="browser">
							<div class="indicators">
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
							</div>
							<div class="img__url__bar"></div>
						</div>
						<div class="img__inner__wrapper">
							<% link_to "eclipse.html" do %><img src="img/eclipse_home_full.jpg" alt="Jeffrey Smith"><% end %>
						</div>
					</div>
				</article>
				<article class="portfolio__description">
					
					<h3>Designer &#8226; Developer</h3>
					<p>Eclipse is the theme for the 2014 MCTC Apparel Technologies spring fashion show. The process began with a single word, eclipse. Print designer,  Rhia Brutger, and I were tasked with the challenge of building eclipse from a vauge concept and general feeling into a full campaign to support the spring fashion event.</p> 
					<p class="skills">For this project, I used:</p>
					<ul>
						<li>PHP</li>
						<li>Custom jQuery/Javascript</li>
						<li>Sass</li>
					</ul>

					<div><%= link_to 'More about this project →', 'eclipse.html', :class=>"btn btn-primary"  %></div>
		<!-- 			<div><a href="http://eclipse.mctcapparelportfolio.com/" class="btn btn-primary" >View the site</a></div> -->
				</article>
			</div>
		</section>