<section class="portfolio">
			<div class="portfolio__wrapper">
				<h2 class="portfolio__headline">MN Menswear</h2>
				<article class="portfolio__img">
					<div class="img__outer__wrapper">

						<div class="browser">
							<div class="indicators">
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
							</div>
							<div class="img__url__bar"></div>
						</div>
						<div class="img__inner__wrapper">
							<% link_to "menswear.html" do %><img src="img/menswear_home_full.jpg" alt="Jeffrey Smith"><% end %>
						</div>
					</div>
				</article>
				<article class="portfolio__description">
					
					<h3>Designer &#8226; Developer</h3>
					<p>MN Menswear is an informational site taking an independent look at shopping for men's clothing in Minnesota. The site lists out local stores organized into categories based on how you'd wear the clothes. </p> 
					<p class="skills">For this project, I used:</p>
					<ul>
						<li>PHP</li>
						<li>Custom jQuery/Javascript</li>
						<li>Bootstrap Framework</li>
						<li>Sass</li>
					</ul>


					<div><%= link_to 'More about this project →', 'menswear.html', :class=>"btn btn-primary"  %></div>
<!-- 					<div><a href="http://jeffreysmithdesigner.com/menswear/" , class="btn btn-primary" >View the site</a></div> -->
				</article>
			</div>
		</section>