<section class="portfolio">
			<div class="portfolio__wrapper">
				<h2 class="portfolio__headline">Jeffrey Smith Pastels</h2>
				<article class="portfolio__img">
					<div class="img__outer__wrapper">

						<div class="browser">
							<div class="indicators">
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
							</div>
							<div class="img__url__bar"></div>
						</div>
						<div class="img__inner__wrapper">
							<% link_to "pastels.html" do %><img src="img/pastel_home_full.jpg" alt="Jeffrey Smith"><% end %>
						</div>
					</div>
				</article>
				<article class="portfolio__description">
					
					<h3>Designer &#8226; Developer</h3>
					<p>The focus for this project was to create a site that celebrates  a single painting medium, pastel. Bold colors are combined with bold typography and a custom CMS</p>
					<p class="skills">For this project, I used:</p>
					<ul>
						<li>PHP</li>
						<li>Custom jQuery/Javascript</li>
						<li>Bootstrap Framework</li>
						<li>Sass</li>
					</ul>
					<div>
					<%= link_to 'More about this project →', 'pastels.html', :class=>"btn btn-primary"  %></div>
<!-- 					<div><a class="btn btn-primary" href="http://jeffreysmithdesigner.com/pastels/">View the site</a></div> -->
				</article>
			</div>
		</section>