footer {
  background: $gray;
  padding: 4rem 0 2rem;
  position: fixed;
  bottom: 0;
  z-index: 0;
  width: 100%;
  h4 {
    color: $white;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.25;
    font-weight: 300;
  }
  .footer__content {
    margin-bottom: 1rem;
    p {
      text-align: center;
      a {
        padding: 1rem;
        font-family: $font-family-serif;
        color: $white;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        border: 2px solid darken($light-gray, 25);
        border-radius: 2px;
        @include transition;
        &:hover {
          background: $light-gray;
          border: 2px solid $light-gray;
          color: $gray;
        }
      }
    }
  }
  .copy {
    text-align: center;
    color: darken($white, 30);
    margin-bottom: 0;
    margin-top: 1rem;
  }
  span {
    font-size: rem-calc(20);
    margin-right: rem-calc(8);
  }
  .navbar__links {
    float: none;
    display: inline-block;
    a {
      color: $light-gray;
      &:after {
        display: none;
      }
    }
  }
}

.footer__wrapper {
  @include row;
  @include outer-container(1000px);
  text-align: center;
  .footer__content {
    @include span-columns(12);
    @media (min-width: $screen-sm) {
      @include span-columns(6);
    }
  }
}