.home {
  #header {
    overflow: hidden;
    background: $blue;
    .color-block {
      width: 50%;
      height: 150%;
      display: inline;
      position: absolute;
      @media #{$medium-up} {
        height: 165%;
      }
      @media #{$large-up} {
        height: 175%;
      }
    }
    .green {
      background: $trans-green;
      float: left;
      transform: rotate(-38deg);
      margin: -31% 10%;
      -webkit-transform-origin: right bottom;
      -moz-transform-origin: right bottom;
      -ms-transform-origin: right bottom;
      -o-transform-origin: right bottom;
      transform-origin: right bottom;
      z-index: -1;
      @media only screen and (min-width: 40.063em) and (max-width: rem-calc(835)) {
        margin: -30% 15%;
      }
      @media #{$large-up} {
        margin: -30% 10%;
      }
    }
    .blue {
      background: $trans-teal;
      float: right;
      transform: rotate(38deg);
      margin: -30% 40%;
      -webkit-transform-origin: left bottom;
      -moz-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
      -o-transform-origin: left bottom;
      transform-origin: left bottom;
      z-index: -1;
      @media only screen and (min-width: 40.063em) and (max-width: rem-calc(1218)) {
        margin: -30% 35%;
      }
      @media only screen and (min-width: rem-calc(1219)) {
        margin: -28% 43%;
      }
    }
    .title__box {
      margin: em(160) auto em(100);
      text-align: center;
    }
    .logo-wrapper {
      width: 80%;
      max-width: 400px;
      display: inline-block;
      border-right: 3px solid rgba(white, 0.4);
      padding-right: 20px;
      margin-right: 20px;
      vertical-align: middle;
      .logo {
        width: 100%;
      }
    }
    // .last__name {
    //   margin-top: rem-calc(-22);
    //   margin-bottom: r0;
    // }
    // h2 {
    //   font-size: rem-calc(80);
    //   line-height: 1;
    //   margin: 0;
    //   @include zona--black;
    //   color: $title-gray;
    //   font-variant-ligatures: common-ligatures;
    //   @media #{$medium-up} {
    //     font-size: rem-calc(108);
    //   }
    //   span.lig {
    //     letter-spacing: rem-calc(-4);
    //   }
    //   span.slab {
    //     @include zona--slab;
    //   }
    // }
    .sub-head {
      font-size: rem-calc(36);
      line-height: 1;
      color: $title-gray;
      margin-bottom: 0;
      margin-top: 0;
      text-align: left;
      display: inline-block;
      font-family: $font-family-sans-serif;
      vertical-align: middle;
      @media #{$medium-up} {
        font-size: rem-calc(48);
      }
    }
  }
}