.home {
  #header {
    overflow: hidden;
    background: #102C5A;
    .color-block {
      width: 50%;
      height: 150%;
      display: inline;
      position: absolute;
      @media #{$medium-up} {
        height: 165%;
      }
      @media #{$large-up} {
        height: 175%;
      }
    }
    .green {
      background: $blue-gray;
      transform: rotate(-38deg);
      margin: -31% 10%;
      -webkit-transform-origin: right bottom;
      -moz-transform-origin: right bottom;
      -ms-transform-origin: right bottom;
      -o-transform-origin: right bottom;
      transform-origin: right bottom;
      z-index: -1;
      @media only screen and (min-width: 40.063em) and (max-width: rem-calc(835)) {
        margin: -30% 15%;
      }
      @media #{$large-up} {
        margin: -30% 10%;
      }
    }
    .blue {
      background: $trans-blue;
      transform: rotate(38deg);
      margin: -30% 40%;
      -webkit-transform-origin: left bottom;
      -moz-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
      -o-transform-origin: left bottom;
      transform-origin: left bottom;
      z-index: -1;
      @media only screen and (min-width: 40.063em) and (max-width: rem-calc(1218)) {
        margin: -30% 35%;
      }
      @media only screen and (min-width: rem-calc(1219)) {
        margin: -28% 43%;
      }
    }
    .title__box {
      margin: em(160) auto em(100);
      text-align: center;
    }
    .logo-wrapper {
      width: 80%;
      max-width: 400px;
      display: inline-block;
      border-right: 3px solid rgba(white, 0.4);
      padding-right: 20px;
      margin-right: 20px;
      vertical-align: middle;
      .logo {
        width: 100%;
      }
    }
    .sub-head {
      font-size: rem-calc(36);
      line-height: 1;
      color: white;
      margin-bottom: 0;
      margin-top: 0;
      text-align: left;
      display: inline-block;
      font-family: $font-family-sans-serif;
      vertical-align: middle;
      @media #{$medium-up} {
        font-size: rem-calc(48);
      }
    }
  }
}

//Home page about module
.home__about {
  @include outer-container(1000px);
  @extend %home-module;
  @media (min-width: $screen-sm) {
    margin-top: em(-40);
    position: relative;
  }
}

.home__about-text, .home__about-img {
  @include span-columns(12);
  @media (min-width: $screen-sm) {
    @include span-columns(6);
  }
}

.wf-loading, .wf-freightsanspro-i4-loading, .wf-freightsanspro-i7-loading, .wf-freightsanspro-n4-loading, .wf-freightsanspro-n7-loading {
  .sub-head {
    font-weight: 100;
    letter-spacing: -1px;
    font-size: 2.85rem !important;
    line-height: 1.1;
  }
}