.portfolio {
  background-color: $offwhite;
  // &:nth-of-type(even) {
  //   background: $white;
  // }
  &:nth-of-type(odd) {
    background-color: $offwhite;
    @media #{$medium-up} {
      .portfolio__img {
        @include grid-column($push: 6);
        .img__outer__wrapper {
          margin-left: auto;
        }
      }
      .portfolio__description {
        @include grid-column($pull: 6);
      }
    }
  }
  .portfolio__wrapper {
    @include grid-row;
    padding: em(20) em(20) em(40);
    background-color: #fff;
    margin-bottom: em(25);
    box-shadow: 1px 1px 5px 1px rgba(black, 0.05);
  }
  .portfolio__img {
    @include grid-column(12);
    margin-bottom: 2rem;
    @media #{$medium-up} {
      @include grid-column(6);
    }
  }
  .portfolio__description {
    @include grid-column(12);
    @media #{$medium-up} {
      @include grid-column(6);
    }
  }
}

.portfolio__img {
  .img__outer__wrapper {
    background: $light-gray;
    padding: rem-calc(30) rem-calc(5) rem-calc(5);
    overflow: auto;
    border-radius: rem-calc(3);
    -webkit-box-shadow: 0 2px 3px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0 2px 3px rgba(50, 50, 50, 0.3);
    box-shadow: 0 2px 3px rgba(50, 50, 50, 0.3);
    max-width: rem-calc(410);
    @media #{$small-only} {
      margin: 0 auto;
    }
    .img__url__bar {
      background: darken($super-light-gray, 5);
      height: rem-calc(15);
      margin-top: rem-calc(-10);
      margin-bottom: rem-calc(10);
      margin-right: rem-calc(10);
      float: right;
      width: 95%;
      display: inline-block;
      border-radius: rem-calc(2);
    }
    .browser {
      z-index: 10;
      position: relative;
    }
    .indicators {
      float: left;
      overflow: auto;
      position: absolute;
      top: rem-calc(-24);
      left: rem-calc(10);
    }
    .circle {
      width: rem-calc(7);
      height: rem-calc(7);
      border-radius: 50%;
      float: left;
      margin-right: rem-calc(5);
      background: $super-light-gray;
      &:first-of-type {
        background: darken($super-light-gray, 10);
      }
      &:nth-of-type(2) {
        background: darken($super-light-gray, 10);
      }
      &:nth-of-type(3) {
        background: darken($super-light-gray, 10);
      }
    }
    .img__inner__wrapper {
      clear: right;
      height: 400px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    img {
      height: auto;
      //width: 100%;
      border-radius: rem-calc(3);
    }
  }
}

.portfolio__headline {
  line-height: 1;
  font-size: em(36);
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 em(20, 36);
  border-bottom: 1px solid currentColor;
  padding-bottom: em(10, 36);
}

.portfolio__description {
  ul {
    padding-left: em(20);
    li {
      font-family: $font-family-sans-serif;
    }
  }
  h3 {
    text-transform: uppercase;
    font-size: rem-calc(21);
    margin-top: 0;
    font-family: $font-family-sans-serif;
  }
  p {
    &:last-of-type {
      margin-top: 2rem;
    }
    &.skills {
      margin-bottom: 0;
    }
  }
  a {
    margin-top: 1rem;
    padding: .5rem 1rem;
    border: 2px solid $green;
    border-radius: rem-calc(5);
    font-family: $font-family-serif;
    letter-spacing: .5px;
    dislpay: inline-block;
    color: darken($green, 15);
    @include transition;
    &:hover {
      background: $green;
      color: $white;
      @include transition;
    }
  }
}