---
title: Contact
page_classe: 'contact'
headercolor: CA9F9F
---
<section id="header" <% if current_page.data.headercolor %>
        style="background-color:#<%= current_page.data.headercolor %>;"
    <% end %>>
	<section class="header-inner row">
		<article class="head__img js-height">
			<%= image_tag 'jeffrey-square.jpg' %>
		</article>
		<article class="head__headline js-height">
			<h1>Contact me</h1>
		</article>
		
	</section>
	
</section>

<section id="about__box">
	<div class="constrain main-content">
		<article class="about__text">
			
			<form accept-charset="UTF-8" action="https://formkeep.com/f/84e6d81e8d84" method="POST">
			  <input type="hidden" name="utf8" value="✓">
			  <input type="email" name="email" placeholder="Your Email">
				<input type="text" name="name" placeholder="Your Name">
				<textarea  name="textarea" placeholder="Your Comment"></textarea>
			  <button type="submit" class="btn-primary">Submit</button>
			</form>
			<div class="about__connect">
				<div class="about__connect-inner">
					<header>
						<h3>Connect with me</h3>
					</header>
					<p class="icon__wrapper">
						<a href="https://www.linkedin.com/in/jeffreysmith9" target="_blank"><span class="icon-linkedin"></span></a>
						<a href="https://twitter.com/jeffreysmithart" target="_blank"><span class="icon-twitter"></span></a>
						<a href="mailto:jeffrey@jeffreysmithdesigner.com"><span class="icon-envelope"></span></a>
					</p>
				</div>
			</div>
		</article>
	</div>
</section>