---
title: Contact
page_classe: 'contact'
headercolor: 102C5A
---
<section id="header" <% if current_page.data.headercolor %>
	style="background-color:#<%= current_page.data.headercolor %>;"
	<% end %>>
	<div class="color-block block1"></div>
	<div class="color-block block2"></div>
	<div class="title__box">
		<div class="header-inner text-box">
			<h1>Contact Me</h1>
			<p>I love hearing from people.<br> Please send me an email at <a href="mailto:jeffrey@jeffreysmithdesigner.com">jeffrey@jeffreysmithdesigner.com</a> or fill out the form below.</p>
		</div>
		
	</div>
</section>
<section id="about__box">
	<div class="constrain main-content">
		<article class="about__text form-wrapper">
			
			<div class="form-wrapper-inner">
				<form accept-charset="UTF-8" action="https://formkeep.com/f/84e6d81e8d84" method="POST">
					
					<input type='text'  name="yourname" placeholder="Your Name" >
					<input type="email" name="email" placeholder="Your Email">
					
					<textarea  name="textarea" placeholder="Your Comment"></textarea>
					<button type="submit" class="btn-primary">Submit</button>
				</form>
			</div>
		</article>
		<article class="full-width">
			<div class="about__connect">
				<div class="about__connect-inner">
					<header>
						<h3>Connect with me</h3>
					</header>
					<p class="icon__wrapper">
						<a href="https://www.linkedin.com/in/jeffreysmith9" target="_blank"><span class="icon-linkedin"></span></a>
						<a href="https://twitter.com/jeffreysmithart" target="_blank"><span class="icon-twitter"></span></a>
						<a href="mailto:jeffrey@jeffreysmithdesigner.com"><span class="icon-envelope"></span></a>
					</p>
				</div>
			</div>
		</article>
	</div>
</section>