---
title: Thank-You
page_classe: 'thank-you'
headercolor: 29A58D
---
<section id="header" <% if current_page.data.headercolor %>
	style="background-color:#<%= current_page.data.headercolor %>;"
	<% end %>>
	<div class="color-block block1"></div>
	<div class="color-block block2"></div>
	<div class="title__box">
		<div class="header-inner text-box">
			<h1>Thank you</h1>
			<p>I will be in touch with you very soon.</p>
		</div>
		
	</div>
</section>

<section id="about__box">
	<div class="constrain main-content">
		<article class="about__text">
			
			<div class="about__connect">
				<div class="about__connect-inner">
					<header>
						<h3>Connect with me</h3>
					</header>
					<p class="icon__wrapper">
						<a href="https://www.linkedin.com/in/jeffreysmith9" target="_blank"><span class="icon-linkedin"></span></a>
						<a href="https://twitter.com/jeffreysmithart" target="_blank"><span class="icon-twitter"></span></a>
						<a href="mailto:jeffrey@jeffreysmithdesigner.com"><span class="icon-envelope"></span></a>
					</p>
				</div>
			</div>
		</article>
	</div>
</section>